.github-link {
  position: absolute;
  top: 15px;
  right: 15px;
}
#store-select {
  font-size: 1.5em;
}
.shopping-item {
  text-align: center;
  margin: 0 auto;
}

.shopping-item .img {
  width: 250px;
  height: 250px;
  background-size: contain;
  margin: 15px auto;
}

.hidden {
  display: none;
}